* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(111deg, #005A81 0.33%, #00344A 100%) no-repeat center/cover;
    min-height: 100vh;
    font-family: Fira Sans, sans-serif;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

#header {
    background: linear-gradient(111deg, #005A81 0.33%, #00344A 100%) no-repeat center/cover;
    padding: 25px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar a {
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 0 35px;
}

.header button {
    font-size: 18px;
    font-weight: 400;
    color: white;
    background: #00B2FF;
    padding: 15px 44px;
    border-radius: 6px;
}

#hero {
    padding: 40px 0;
}

.hero-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-group h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
    color: white;
}

.hero-group p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: white;
    width: 516px;
    padding: 17px 0 39px 0;
}

.hero-group button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background: #00B2FF;
    padding: 15px 45px;
    border-radius: 6px;
}

.hero-image {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.hero-image img {
    padding-right: 34px;
}

.hero-circle-general {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.hero-circle-one {
    width: 13px;
    height: 13px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.hero-circle-two {
    width: 21px;
    height: 21px;
    background: #00B2FF;
    margin: 0 28px;
    border-radius: 50%;
}